body{
    font-family: 'Quando';
    margin: 0;
    padding: 0;
}
.nav{
    padding: 10px 10px;
    margin: 0;
    border: 0;
    text-align: left;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 7vh;
}
.nav2{
    text-align: center;
    padding-top: 20px;
}
.links {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.box{
    background-color: rgb(212, 177, 86);
    height: fit-content;
    max-width: 90%;
    border: 2px;
    border-radius: 15px;
    margin: auto;
    padding-inline: 20px;
}
.content{
    width: 80%;
    padding-top: 125px;
    padding-bottom: 125px;
}
a:hover + .box_preview, .box_preview:hover{
    display: block;
    position: relative;
    z-index: 100;
}
.vertAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.textDesc{
  text-align: justify;
  font-size: 115%;
}
.productImg1{
  max-height: 300px;
  max-width: 300px;
}
.activeNav{
  background-color: rgb(212, 177, 86);
  max-width: fit-content;
  display: inline;
  padding: 15px;
  border-radius: 15px;
  transition: 0.3s;
  margin-right: 10px;
}
.linksNav{
  background-color: rgb(212, 177, 86);
  max-width: fit-content;
  padding: 12px;
  border-radius: 15px;
  transition: 0.3s;
  margin-right: 10px;
  max-height: 30px;
  font-size: 50%;
}
.inactiveNav1{
  padding: 12px;
  border-radius: 15px;
  transition: 0.3s;
  margin-right: 10px;
  max-height: 30px;
  font-size: 50%;
}
.linksNav2{
  max-width: fit-content;
  display: inline;
  padding: 15px;
  border-radius: 15px;
  transition: 0.3s;
  margin-right: 10px;
}
.toHover{
  transition: 0.5s;
}
.toHover img{
  display: block;
  width: 100%;
  border-radius: 5px;
}
.toHover:hover{
  transform: scale(1.1);
  z-index: 2;
}
.activeNav:hover{
  opacity: 0.6;
}
.linksNav2:hover{
  background-color: rgb(212, 177, 86);
}
.linksNav:hover{
  opacity: 0.6;
}
.inactiveNav1:hover{
  background-color: rgb(212, 177, 86);
}
.addToCart{
  background-color: rgb(189, 240, 106);
  border-radius: 30px;
  max-width: fit-content;
  padding: 12px;
  float: right;
}
.addToCart:hover{
  background-color: rgba(193, 238, 120, 0.774);
}
.inCart{
  background-color: orange;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  float: right;
  margin-left: -10px;
  z-index: 20;
  position: relative;
}
button, input{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
footer{
  background-color: rgb(212, 177, 86);
  display: flex;
  justify-content: center;
  padding: 4vw;
  padding-top: 30px;
  padding-bottom: 80px;
}
.footerCont{
  margin-right: 10%;
  width: 30vw;
  max-height: 25vh;
  color: rgba(49, 40, 40, 0.87);
  align-items: center;
}
.inputField{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-width: 0 0 3px 0;
  transition: 0.2s;
}
.inputField:hover{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-width: 0 0 4px 0;
}
.icon{
  height: auto;
  width: 7%;
  padding-right: 5px;
}
.appImg{
  height: auto;
  max-width: 15vw;
  transition: 0.5s;
}
.appImg:hover{
  transform: scale(1.1);
  z-index: 2;
}
.contactUs{
  transition: 0.5s;
}
.contactUs:hover{
  transform: scale(1.1);
  z-index: 2;
}


.box_preview{
  display: none;
  width: 100%;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
  }
  
  gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  td{
    border: 1px solid black;
    border: 10px;
  }